/* -- main section-- */
* {
  margin: 0;
  padding: 0;
}

body {
  max-width: 100%;
  color: white;
  font-size: 14px;
}

.container {
  min-width: 100vw;
  min-height: 100vh;
  position: absolute;
  top: 0;
  bottom: 0;
  background-image: url("../imgs/flowers.jpg");
  background-size: cover;
  opacity: 0.85; 
  filter: alpha(opacity=85);
}
/* -- nav bar section -- */
.dropdown-toggle {
  color: white;
  font-size: 1.2em;
}

.text-dark {
  margin-left: 7px;
}

.title-list {
  border-bottom: 1px solid blueviolet;
  font-weight: inherit;
  margin-left: 7px;
}

#search-location {
  border: 1px solid white;
  color: white;
}
.fa-star {
  color: white;
  font-size: 1.5em;
  cursor: pointer;
}

.active {
  color: aqua;
}

/*-- current day weather section--*/
#current-day {
  text-align: center;
  margin-bottom: 25px;
}

.current-city {
  margin-bottom: 0;
}

.current-description {
  font-size: 1.8em;
  margin-bottom: 0;
}

.current-temperature {
  font-size: 4em;
  margin-bottom: 0;
  padding: 5px;
}

.current-icon {
  width: 6%;
}

.min-max-temp {
  font-size: 1.2em;
  padding: 10px;
  margin-bottom: 0;
}

.current-humidity-pressure {
  font-size: 1.1em;
}

.current-pressure {
  margin-left: 5px;
}

/* -- five days forecast section--*/
#five-days-forecast {
  text-align: center;
}
.forecast-section-title {
  margin-bottom: 0;
  margin-top: 6%;
  padding-left: 3%;
  font-size: 1.8em;
 /* border-bottom: 1px solid white;*/
}

.forecast-display {
  float: left;
  margin-left: 7%;
  margin-top: 1.5%;
}

.forecast-day {
  margin-bottom: 8px;
  font-size: 1.7em;
}

.forecast-temperature {
  font-size: 2em;
  margin-bottom: 5px;
}

.forecast-description {
  font-size: 1.3em;
  margin-bottom: 2px;
}

.update-info-hours {
  font-size: 1em;
}

/* -- footer section -- */

#footer {
  max-width: 100vw;
  position: absolute;
  bottom: 0;
}

.footer-content {
  margin-bottom: 10px;
  margin-left:25px;
}


